In [1]:
print("shashank")

shashank

In [2]:
print("123")
a = 1234
print("a=",a)

123
a= 1234

In [3]:
print(type(a))

<class 'int'>

In [4]:
a=2
b=3
print(a+b)

5

python is case sensitive language

keywords cannot be used as variable names in python

In [5]:
a = 1234.56
b = 3.14
print(b-a)
#subtraction

-1231.4199999999998

In [6]:
a = 2
b = 4.25
print(a+b)
#type conversion by python from integer to float

6.25

In [7]:
a = "12"
b = int(a)
print(b)
print(type(b))
#type casting by python from string to integer

12
<class 'int'>

In [8]:
#inputs in python
input("Enter your name:")

'shashnk'

In [9]:
a = input("age")
b = input("year of birth")
print("your age is",a, "and your year of birth is",b)

your age is 22 and your year of birth is 2002

In [10]:
#code for printing the area of a square
s = float(input("Enter the side of the square:"))
area = s*s
print("Area of the square is:",area)

Area of the square is: 529.0

escape sequence are the characters in python which hold special meaning to the compiler and perform some special functions 
like 
\n --this is used to create a new line after a print statement

In [11]:
print("open")
print("close")
print("\n reopen in a new line")

open
close

 reopen in a new line

In [12]:
#print length of string in python 
s = "shashank"
length = len(s)
print("length of string is",length)

length of string is 8

In [13]:
#string concatenation
s = "shashank"
s2 = "singh"
print(s+s2)

shashanksingh

string indexes in pythoon start from zero just like java 
also , strings cannot be manipulated through the index numbers directly as strings are immutable

In [15]:
#string slicing in python
s = "shashank"
sliced = s[0:5]
print("sliced string is",sliced)
#string slicing in python

sliced string is shash

string slicing in python is basically using parts of a string and is an integral part of string manipulation

we can also count indexes bckwaeds in python i.e negatively

In [19]:
s = "shashank"
print(s[-6:-1])

ashan

string functions :
1. endswith()
2. capitalize()
3. replace()
4. find()
5. count()
6. upper() -uppercase conversion
7. lower() - lowercase conversion

In [ ]:
s = "shashank"
print(s.endswith("ank"))
print(s.replace("s","x"))
print(s.find("z")) #finds the first index of occurence of a character or substring
print(s.count("ha"))
s.capitalize()
print(s)
print(s.upper())
print(s.lower())

True
xhaxhank
-1
2
shashank
SHASHANK
shashank

In [22]:
#wap to take users first name and print its length
s = input("Enter your first name:")
length = len(s)
print("length of your first name is",length)

length of your first name is 8

In [24]:
#find count of $
s = input("enter the string ")
print(s.count("$"))

8

In [38]:
x = int(input("enter x"))
if(x>20):
    print("x is greater than 20")
elif(x<20 & x>0):
    print("x is less than 20")
elif(x<0):
    print(" x is negative")

x is greater than 20

lists in python 
list is kind of single variable that can store multiple values 
lists can contain variables of multiple types 
* lists are mutable 
* strings in python are immutable

In [40]:
l1 = ["shashank","singh",28122002,"noida"]
print(l1[3])

print(l1[0])

noida
shashank

In [41]:
print(l1[0:2])
print("this is list slicing")

['shashank', 'singh']
this is list slicing

list slicing also follows the same principles like strings 
it can also take negtive values as indexes

list functions 
1. list.sort() -sorts in ascending order 
2. list.append() - adds one element in the end 
3. list.sort(reverse=True) - sorts the list in reverse order 
4. list.reverse() --reverses list
5. list.insert(index,element) --inserts elements at the given index

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
list.append(10)
print(list)
list.sort(reverse=True)
print(list)
list.reverse()
print(list)
list.insert(2,100)
print(list)
list.remove(100)
print(list)
list.pop(2) #removes the value at index specified 
print(list)
list.clear()
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 100, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 5, 6, 7, 8, 9, 10]
[]

Tuple is a built in data type that lets us create an immutable sequence of values
basically tuple is immutable and list is mutable 

and instead of square brackets we use normal brackets to create a tuple

In [44]:
tup = (1,2,3)
print(tup)
print(type(tup))

(1, 2, 3)
<class 'tuple'>

functions in tuples 
tup.index() -- counts index of first occurence 
tup.count() -- counts total occurences

dictionaries store data in python in key value pairs

In [8]:
dictionary = {
    "name":["shashank","adarsh","shraddha"],
    "age":21,
    "hobby":"coding"
}
print(type(dictionary))
print(dictionary["name"])
print(dictionary)

<class 'dict'>
['shashank', 'adarsh', 'shraddha']
{'name': ['shashank', 'adarsh', 'shraddha'], 'age': 21, 'hobby': 'coding'}

dictionaries are unordederd , mutable and do not accept duplicate keys 
dictionaries do not have indexes i.e  they are unordered
nested dictionaries also is possible in python

In [13]:
ary = {
    "name":["shashank","adarsh","shraddha"],
    "age":21,
    "hobby":"coding",
    "subjects" : {
        "physics":"A+",
        "maths":"A+",
        "chemistry":"A+",
        "biology":"A+"
    }
}
print(ary["subjects"])
print(ary["subjects"]["physics"])
print(ary)

{'physics': 'A+', 'maths': 'A+', 'chemistry': 'A+', 'biology': 'A+'}
A+
{'name': ['shashank', 'adarsh', 'shraddha'], 'age': 21, 'hobby': 'coding', 'subjects': {'physics': 'A+', 'maths': 'A+', 'chemistry': 'A+', 'biology': 'A+'}}

dictionary also has functions just like lists and tuples in python 
.keys() //gives all keys 
.values() //gives all values
.items() //gives all key value pairs as tuples 
.get("key") //returns the key according to value 
.update(newItem) //updates the dictionary with new item

In [ ]:
print(ary.values())
print(ary.items())   #returns key value pairs as tuples
print(ary.get("subjects"))
print(ary.keys())

dict_values([['shashank', 'adarsh', 'shraddha'], 21, 'coding', {'physics': 'A+', 'maths': 'A+', 'chemistry': 'A+', 'biology': 'A+'}])
dict_items([('name', ['shashank', 'adarsh', 'shraddha']), ('age', 21), ('hobby', 'coding'), ('subjects', {'physics': 'A+', 'maths': 'A+', 'chemistry': 'A+', 'biology': 'A+'})])
{'physics': 'A+', 'maths': 'A+', 'chemistry': 'A+', 'biology': 'A+'}
dict_keys(['name', 'age', 'hobby', 'subjects'])

sets in python is a collection oof unordered items 
each item in the set must be imuttable and unique
we cannot store lst and dictionaries in a set since they are mutable 

each element in the set must be unique 
set ignores duplicate items 


set functions:
set.add() 
set.remove()
set.clear()
set.pop()

In [15]:
collection = { 1,2,3,1,1,1,5,6,7,7,"shashank"}
print(collection)
print(type(collection))

{1, 2, 3, 5, 6, 7, 'shashank'}
<class 'set'>

In [17]:
coll = {

}
print(type(coll))
coll=set()
print(type(coll))

<class 'dict'>
<class 'set'>

In [21]:
#dictionary wiith words as keys and their meanings as values
dictionary = {
    "table":"a piece of furniture" , "list of facts and figures" 
    "cat" : "a feral animal",
    "dog" : "a domestic animal",
}
print(dictionary["table"])
print(dictionary)

a piece of furniture
{'table': 'a piece of furniture', 'list of facts and figurescat': 'a feral animal', 'dog': 'a domestic animal'}

In [24]:
subjects = { "python" , "java" , "c++" , "javascript" , "html" , "css"}
print("total number of classrooms needed in school is ",len(subjects))

total number of classrooms needed in school is  6

In [ ]:
#wap to store 9 and 9.0 in a set and print the set
s = {9,"9.0"}
print(len(s))
#one of them is stores as string and other as integer so it is not a duplicate

2

In [ ]:
a = "hello world"
x=1
while(x <= 5):
    print(a)
    x+=1

hello world
hello world
hello world
hello world
hello world

In [35]:
y = 1
while(y<=10):
    print(y*17)
    y+=1

17
34
51
68
85
102
119
136
153
170

In [39]:
nums = [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
print(len(nums))
x = int(input("enter the desired number"))
k = 0
count = 0
while(k<len(nums)):
    if(nums[k] == x):
        count+=1
    k+=1
        
print("count of",x,"is",count)
print("end of program")

27
count of 9 is 3
end of program

In [42]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
    if(i%2==0):
        print("divisible by 2--",i)
    else:
        print("not divisible by 2--",i)
else:
    print("end of for loop")
    #for loop with if else and else sttatements

not divisible by 2-- 1
divisible by 2-- 2
not divisible by 2-- 3
divisible by 2-- 4
not divisible by 2-- 5
divisible by 2-- 6
not divisible by 2-- 7
divisible by 2-- 8
not divisible by 2-- 9
end of for loop

In [45]:
str = input("enter a string")
for c in str:
    if(c=="o"):
        print("found o at",c)
    else:
        print("not found o at",c)
else:
    print("end of for loop")
    #for loop with if else and else sttatements

not found o at h
found o at o
not found o at j
found o at o
not found o at n
found o at o
end of for loop

In [46]:
print(str[5])

o

In [48]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [50]:
n = int(input("enter the number "))
i=0 
sum = 0
while(i<n):
    sum+=i
    i+=1
print("sum of first",n,"numbers is",sum)

sum of first 89 numbers is 3916

In [53]:
n = int(input("enter the number"))
p = 1
for i in range(1,n+1):
    p*=i
print("factorial of",n,"is",p)

factorial of 8 is 40320

In [ ]:
#function definintion in python
def calcsum(a,b):
    return a+b

x = calcsum(5,7)
print(x)
y = calcsum(10,20)
print(y)

12
30

In [57]:
def hello():
    print("hello world")

hello()

hello world

In [60]:
list = [input("enter the name"),input("enter the name"),input("enter the name")]    

def length(list):
    print("length of list is",len(list))

length(list)

length of list is 3

In [62]:
#recursion in python
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(int(input("enter the number"))))

362880

In [76]:
f = open("demo.txt","r")
data = f.read()
print(data)
print(type(data))
f.close()

shashank singh line 1
shashank singh line 2
<class 'str'>

In [79]:
f = open("demo2.txt","w")
f.write("hello world")
f = open("demo2.txt","r")
data = f.read()
print(data)
f.close()

hello world

In [80]:
f = open("demo3.txt","a")
f.write("\n shashank singh appeneded this")
f.close()
f = open("demo3.txt","r")
data = f.read()
print(data)
f.close()

this text file will be appended by python

 shashank singh appeneded this

In [84]:
with open("demo3.txt","a")  as f:
    f.write("\n shashank singh appeneded this a second time")
f = open("demo3.txt","r")
data = f.read()
print(data)
f.close()

this text file will be appended by python

 shashank singh appeneded this

 shashank singh appeneded this a second time

In [85]:
import os 
os.remove("demo4.txt")